:root {
    --linkcolor: #fc6400;
}

article p {
    margin: 35px 0px;
}

hr {
    border: 0;
    background: #fc640012;
    height: 1px;
}

#terms .term {
    background-color: #f2f2f2;
    padding: 10px;
}

.katex-display {
    background-color: #fc640012;
    padding: 20px;
    margin: 0px;
}